<ul class="navbar-nav ml-auto">
    <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link" href="/AdminLogin">AdminLogin</a></li>
    <li class="nav-item"><a class="nav-link" href="/EntreLogin">EntreLogin</a></li>
    <li class="nav-item"><a class="nav-link" href="/NewEntre">NewEntre</a></li>
    <li class="nav-item"><a class="nav-link" href="/UserLogin">UserLogin</a></li>
    <li class="nav-item"><a class="nav-link" href="/NewUser">NewUser</a></li>
    <li class="nav-item"><a class="nav-link" href="/Predict">Predict</a></li>
     <li class="nav-item"><a class="nav-link" href="/Chat">Chat</a></li>
</ul>